@use 'mixins/mixins' as *;

@include b(aside) {
  // overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  flex: none; // flex: 0 0 auto; 当右侧文字过长的时候不会被压缩。
  // width: auto;
  margin: 0;
  padding: 0;
  width: var(#{getCssVarName('aside', 'width')}, 300px);
  @include m(children) {
    height: 100%;
    overflow: auto;
  }
  
  @include m(trigger) {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    cursor: pointer;
  }
}

@include b(aside-has-trigger) {
  box-sizing: border-box;
  padding-bottom: 48px;
}
